@import "tailwindcss";

@utility flex-v-center {
  @apply flex items-center gap-x-1;
}

@utility flex-h-center {
  @apply flex justify-center;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility cart-btn {
  @apply flex-v-center rounded-2xl text-xs border border-gray-950 px-6 py-2;
}
